<div>
<div class="home">
    <div class="slideshow">
        <figure class="slide">
            <img src="assets/img/candy_slide_2.png" alt="candy store" width="750px" height="550px">
            <figcaption>Welcome to Tean 5e's Candy EStore</figcaption>
        </figure>
        <figure class="slide">
            <img src="assets/img/candy_slide_1.png" alt="candies" width="750px" height="550px">
            <figcaption>Try out the lastest and trendest candies in the world</figcaption>
        </figure>
        <figure class="slide">
            <img src="assets/img/candy_slide_3.png" alt="Mystery Box" width="750px" height="550px">
            <figcaption>Try out our new Mystery Boxes</figcaption>
        </figure>
    </div>
</div>

<div class="about__section">
    <h2>
        About Us:
    </h2>
    <p>
        This is a Candy Estore website created by Team 5e. The members of this group 
        who were involved in the development of this project are Liang Chu, 
        Aitan Bachrach, Ayden Boyko, Brendan Hoey, and Dylan O’Hara.
    </p>
</div>
</div>