<div *ngIf="candy">
  <h2>Candy Details</h2>

  <div class="candy__flex">

    <div class="candy__details">
      <label for="candy-name">Candy name: {{candy.name}}</label>
      <label for="candy-amount">Candy amount: {{candy.amount}}</label>
      <label for="candy-price">Candy price: ${{candy.price}}</label>
      <label for="candy-description">Candy description: {{candy.description}}</label>
      <label for="candy-rating">Candy rating: {{displayRating()}} / 5</label>
    </div>

    <div class="rating">
      
      <label class="rating__title">Add a Rating!</label>
        
      <div>
        <button (click)="addRating(1)"> 1</button> 
        <button (click)="addRating(2)"> 2</button> 
        <button (click)="addRating(3)"> 3</button> 
        <button (click)="addRating(4)"> 4</button> 
        <button (click)="addRating(5)"> 5</button> 
      </div>

      <div *ngIf="IsUserLoggedIn() === true">
        <button (click)="addToCart(candy.id)"> Add to Cart</button>
      </div>
    </div>

  </div>
  
    <button type="button" (click)="goBack()">Go Back</button>
</div>
